@using Tresorix.Contracts.Assets
@using Front.Models
<h3>AssetDetails</h3>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Ticker</th>
        <th>Actual Value</th>
        <th>Average Yearly Performance Percent</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var asset in Assets)
    {
        <tr>
            <td>@asset.Name</td>
            <td>@asset.Ticker</td>
            <td>@asset.ActualValue</td>
            <td>@asset.AverageYearlyPerformancePercent</td>
            <td>
                <button class="btn btn-danger" @onclick="() => OnDelete.InvokeAsync(asset.Id)">Delete</button>
            </td>
        </tr>
    }

    @if (IsAdding)
    {
        <tr>
            <td>
                <input @bind="NewAsset.Name" placeholder="Enter name" class="form-control"/>
            </td>
            <td>
                <input @bind="NewAsset.Ticker" placeholder="Enter ticker" class="form-control"/>
            </td>
            <td>
                <input @bind="NewAsset.ActualValue" placeholder="Enter actual value" class="form-control"/>
            </td>
            <td>
                <input @bind="NewAsset.AverageYearlyPerformancePercent" placeholder="Enter performance" class="form-control"/>
            </td>
            <td>
                <button class="btn btn-danger" @onclick="OnCancelAdd">Cancel</button>
            </td>
        </tr>
    }
    </tbody>
</table>

@if (!IsAdding)
{
    <button class="btn btn-primary" @onclick="OnAdd">Add Asset</button>
}
else
{
    <button class="btn btn-success" @onclick="OnSave">Save Asset</button>
}

@code {
    [Parameter] public required List<Asset> Assets { get; set; }
    [Parameter] public required bool IsAdding { get; set; }
    [Parameter] public required Asset NewAsset { get; set; }
    [Parameter] public EventCallback OnSave { get; set; }
    [Parameter] public EventCallback OnCancelAdd { get; set; }
    [Parameter] public EventCallback OnAdd { get; set; }
    [Parameter] public EventCallback<Guid> OnDelete { get; set; }
}