@using Tresorix.Contracts.Assets
<h3>AssetDetails</h3>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Ticker</th>
        <th>Actual Value</th>
        <th>AverageYearlyPerformancePercent</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var asset in Assets)
    {
        <tr>
            <td>@asset.Name</td>
            <td>@asset.Ticker</td>
            <td>@asset.ActualValue</td>
            <td>@asset.AverageYearlyPerformancePercent</td>
        </tr>
    }
    </tbody>
</table>
@code {
    [Parameter] public required List<AssetResponse> Assets { get; set; }
}